@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700&display=swap');

body {
  clear: both;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 400;
  background: #2e2e4d;
  color: #fff;
}

:root {
  --scale: 0;
  --paddin: 0;
  --tab-width: 6em;
  --slider: 2em;
}

.app {
  background: url(./css-images/wallpaper.jpg) 0 0;
  background-attachment: fixed;
  background-size: cover;
}

.app-container {
  width: 100%;
  height: 100%;
  background: rgba(46, 46, 77, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic';
  letter-spacing: 0.1rem;
}
.link-container {
  position: relative;  
}

.text {
  position: absolute;
  color: red;
  left: 5em;
  top: 5em;
  font-size: 2.5rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.about {
  margin: 2em;
  padding: 1em;
  font-size: 1.2em;
}

.container {
  margin: 1em;
  height: 100%;
}

.tabs{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30em;
  padding-top: 1em;
}

.tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  width: var(--tab-width);
  margin: 0 calc(var(--tab-width) / 3);
  cursor: pointer;
  padding: 0.3em 0;
  color: #c9c9fd;
}

.active-tab {
  color: #fff;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.slider-container {
  width: 100%;
  background: #c9c9fd;
  border-radius: 5px;
}

.slider {
  transform: translateX(var(--slider));
  align-self: baseline;
  padding: 0.06em;
  background-color: #f00;
  border-radius: 50px;
  width: var(--tab-width);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.fav-icons {
  color: #6c6cfd;
  font-size: 2.5em;
  background: rgb(41, 40, 40);
  margin: 0.1em;
  padding: 0.05em;
  color: #f68646;
}

.tab-content {
  margin: 2em 1em;
}

.portfolio {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.portfolio__item {
  background: white;
  font-size: 0.8rem;
  overflow: hidden;
  margin: 1em;
}

.my-work {
  color: white;
  text-align: center;    
}
a {
  text-decoration: none;
}
.portfolio__img {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  width: 320px;
  height: 240px;
  color: transparent;
  opacity: 1;
  transition: 
    transform 300ms cubic-bezier(.5, 0, .5, 1),
    opacity 300ms linear;
}

.portfolio__img:hover,
.portfolio__item:focus {
  --scale: 100%;
  --paddin: 3em;
  transform: scale(1.2);
  color: rgb(165, 1, 1);
}

.portfolio__item:hover {
  box-shadow: 1px 1px 2px 1px rgb(178, 178, 179);
}
.readme {
  background: rgba(242, 240, 253, 0.8);
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: var(--scale);
  height: var(--scale);
  padding: var(--paddin);
}

.readme ul {
  list-style-type: circle;
  margin-left: 1em;
  padding: 0;
}

@media (max-width: 560px) {
  .portfolio {
    grid-template-columns: 320px;
  }

  body {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}